<aside>
	{{ if gt (len .TableOfContents) 0 }}
	<!--預設開啟，僅當toc為false時期不開啟--> 
	{{ if ne .Params.toc false }}
	<div id="sidebar-main-trigger" class="tableContentToc">
	  	<i class="fa fa-anchor"></i> 
	</div>
	
	<!--toc 預埋參數-->
	<span id="tocLevel" data-startLevel="{{ .Params.tocStartLevel }}" data-endLevel="{{ .Params.tocEndLevel }}"></span>

	<div class="sidebar main right" id="sidebar-main"> 
		<div class="wrapper">  
		    {{ .TableOfContents }} 
		</div> 
	</div> 
	{{ end }}
	{{ end }}  
</aside>