<footer class="site-footer text-center">
  <div class="social" > 
    {{ with .Site.Params.social.email}} 
          <a href=" mailto:{{ . }} "><i class="fa fa-envelope-open-o"></i></span></a>
      {{ end }}
      {{ with .Site.Params.social.github}} 
          <a href=" {{ . }} "  ><i class="fa fa-github"></i></span></a>
      {{ end }}
    
      {{ with .Site.GetPage "home" -}}
          {{ with .OutputFormats.Get "RSS"  }}
                <a href="{{ .Permalink }}" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}" target="_blank"> <i class="fa fa-rss"></i>
                </a>
          {{ end}}  
      {{- end -}}
    </div>
   
  <div class="copyright"  >
    Powered by &nbsp;<a href="https://gohugo.io/">Hugo</a>&nbsp;|&nbsp;
    Theme-<a href="https://github.com/yidaofeicn/hugo-theme-flybird">Flybird</a>  
  </div>
  <div class="copyright"> {{ .Site.Params.siteAuth.copyrightStatement | safeHTML }}</div> 
  <div class="copyright"> 

     <!-- Counter busuanzi --> 
    {{ if .Site.Params.busuanzi }}
      <span id="busuanzi_container">
        訪客數/訪問量：<span id="busuanzi_value_site_uv"></span>/<span id="busuanzi_value_site_pv"></span>
      </span>
    {{ end }}
  </div>
</footer>

 
<!--後面主要匯入相關的 JavaScript 庫資源-->
<div id="bottom-element" data-title="定位底部"><!--配合外掛 elevator 回到頂點--></div>


<!--JQUERY 外掛-回到定點與底部-->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/thirdParty/scrollToTopBottom/jquery.elevator.min.css">
<script type="text/javascript" src="{{ .Site.BaseURL }}/thirdParty/scrollToTopBottom/jquery.elevator.min.js"></script>
<!--JQUERY 外掛-algolia 搜索--> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.30.0/algoliasearch.jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.32.0/autocomplete.jquery.min.js"></script>
<!--JQUERY 外掛-algoliasearch 自定義CSS-->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}thirdParty/algoliasearch/algolia-autocomplete.css">
<!--JQUERY 外掛-simpler-sidebar 側邊欄-->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}thirdParty/simpler-sidebar/jquery.simpler-sidebar.css"> 
<script type="text/javascript" src="{{ .Site.BaseURL }}thirdParty/simpler-sidebar/jquery.simpler-sidebar.js"></script> 
<!--音樂播放軟體-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
<!--JQUERY 外掛 remodal-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>

<!--分享外掛-->
<!--參考鏈接：https://github.com/revir/need-more-share2-->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/thirdParty/need-more-share2/needsharebutton.min.css">
<script type="text/javascript" src="{{ .Site.BaseURL }}/thirdParty/need-more-share2/needsharebutton.min.js"></script>

<!--樣式外掛-->
<!--程式碼高亮 prismjs -->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/thirdParty/prismjs/prism.css">

<script type="text/javascript" src="{{ .Site.BaseURL }}/thirdParty/prismjs/prism.js"></script>
<!-- 盤古之白
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pangu/3.3.0/pangu.min.js"></script> -->
<!--背景線條https://github.com/hustcc/canvas-nest.js/blob/master/README-zh.md-->
<!--<script type="text/javascript" color="#1D1D1D" opacity='1' zIndex="-2" count="400" src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/2.0.3/canvas-nest.js"></script>-->
<!--獨立外掛-->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>


<!--頁面 CSS、JavaScript-->
{{ if .IsPage}}
<!--並埋入一個數據點-->
<span id="isPage" data-isPage="true" style="display: none;"></span>
{{ end }}

 
<!--匯入自定義JavaScript-->
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/flybird.js"></script> 
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/main.js"></script> 

<!--匯入MathJax-->
<script type="text/javascript"
        async
        src = "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[\[','\]\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});

MathJax.Hub.Queue(function() {
    // Fix <code> tags after MathJax finishes running. This is a
    // hack to overcome a shortcoming of Markdown. Discussion at
    // https://github.com/mojombo/jekyll/issues/199
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>

<style>
code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}
</style>
