<div id="top-element" data-title="到達頂點"><!--配合外掛elevator回到底部--></div>
  
<header class="site-header fixed-top">
  <div class="container">
    <nav id="navigation">  
      <a href="{{  $.Site.BaseURL  }}" class="site-title">
        {{ with .Site.Params.logoImgPath}}
        <img title="site-logo" class="site-logo" src="{{ $.Site.BaseURL }}{{ $.Site.Params.logoImgPath }}" >
         {{ end }}  
        {{ .Site.Title }} 
      </a> 
      <a aria-label="mobile menu" class="nav-toggle" id="site-nav-toggle"> 
        <span></span> <span></span> <span></span> 
      </a>
      <ul class="menu-left">
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL  | relLangURL }}">{{ .Name }}</a></li>
        {{ end }}

        {{ if .Site.Params.openSearch }}
          <li><a data-remodal-target="searchinput">search</a></li>
        {{ end }}   
      </ul>
    </nav>
  </div>
</header> 


<!--注意id必定為小寫-->
<div class="remodal" data-remodal-id="searchinput" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc"> 
  {{ partial "search.html" . }} 
</div>

 