

  <meta charset="utf-8">

  <!--針對移動裝置，禁用縮放-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no" >

  <!--定義關鍵詞-->
  {{ if .Keywords}}
    <!--相關頁面關鍵詞為陣列格式-->
    <meta charset="utf-8"> 
  {{else if eq .URL "/"}}
    <meta charset="utf-8">
  {{ end }}
  <!--定義描述--> 
  <meta charset="utf-8">
  <!--定義作者資訊-->
  {{ with .Site.Params.authorName }}
    <meta name="author" content="{{ . }}">
  {{ end }}
  {{ with .Site.Params.favicon }}
    {{ if hasPrefix $.Site.Params.favicon "^http"}} 
        <link rel="icon" type="image/png" href="{{ $.Site.Params.favicon }}" > 
    {{ else }}
        <link rel="icon" type="image/png" href="{{ $.Site.BaseURL }}{{ $.Site.Params.favicon }}" > 
    {{ end }}
  {{ end }}
  
  
  <!--判斷文章是否是文章首頁（URL為「/」），如不是則直接使用目前頁面的標籤-->
  <title>{{ if ne .URL "/" }}{{ .Title}}-{{end}}{{ .Site.Title }}</title>  
  <!--google統計-->
  {{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}


  <!--匯入相關的CSS-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css">
<!--JQUERY 外掛-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script> 