<span id="algoliaData" style="display:none;" data-appid="{{ .Site.Params.algolia.AppID}}" 
		data-searchkey="{{ .Site.Params.algolia.SearchKey}}" 
		data-initindex="{{ .Site.Params.algolia.initIndex}}"></span>

<div class="search-input-card" >
    <input type="search" id="search-input" class="search-input" placeholder="Search for titles or URIs..." name="search" autocomplete="off"/>
    <span class="input-search-icon"><i class="fa fa-search"></i></span> 
</div>

 

 