<div class="side-menu">
  <header>
    <a href="{{ .site.BaseURL}}" title="Hsienlo Blog"  >
      <img class="img-avatar" src="https://en.gravatar.com/userimage/91074425/b7ac595a69ff4b9745e1931047ca4b7c.jpg?size=256">
    </a>  
    <h2 >Ritchie Pub.</h2>
    <p>道可道，非恒道</p> 
  </header>
  <nav>
    <ul class="navbar-nav">
      <li class="navbar-item">
        <span ><a><i class="octicon octicon-home"></i>首頁</a></span>
        <span ><a><i class="octicon octicon-list-unordered"></i>分類</a></span>
      </li>
      <li class="navbar-item">
        <span><a><i class="octicon octicon-tag"></i>標籤</a></span>
        <span><a><i class="octicon octicon-link"></i>維基</a></span>
      </li>
      <li class="navbar-item">
        <span><a><i class="octicon octicon-person"></i>關於</a></span>
        <span><a><i class="octicon octicon-search"></i>搜索</a></span>
      </li>
       
    </ul>
  </nav>
  <footer> 
    <div class="side-menu-socail" style="display: flex;">
      <span style="flex-grow:1;"><a href=""><i class="octicon octicon-mail"></i>E-mail</a></span> 
      <span style="flex-grow:1;"><a href=""><i class="octicon octicon-mark-github"></i>GitHub</a></span> 
      <span style="flex-grow:1;"><a href=""><i class="octicon octicon-rss"></i>RSS</a></span> 
    </div> 
  </footer>
</div>
