<article class="article-card">
	<header class="article-header">  
		<time datetime="{{ .Date.Format "2006-01-02" }}">
			<i class="fa fa-calendar">&nbsp;{{ .Date.Format ($.Site.Params.DateFormat | default "2006-01-02") }}</i>
		</time>
		<a href="{{ .Permalink }}" title="{{ .Title }}" class="article-title" >
			<h4 >{{ .Title }}</h4>
		</a>
		
		<div class="article-meta"> 
			<time datetime="{{ .Date.Format "2006-01-02" }}">
				<i class="fa fa-calendar">&nbsp;{{ .Date.Format ($.Site.Params.DateFormat | default "2006-01-02") }}</i>
			</time> 
			<span><i class="fa fa-pencil">&nbsp;{{.WordCount }} word</i></span>
			<span><i class="fa fa-hourglass-start">&nbsp;{{ .ReadingTime }} min read</i></span>
		</div> 
	</header> 
	<div>   

		{{ with .Params.articleCover}} 
		<p  class="article-cover " > 
			<!--優先處理圖片問題-->
				{{ if (hasPrefix . "http") }}
					<img src="{{. }}" > 
				{{ else }}
					<img src="{{ $.Site.BaseURL}}{{ . }}" >
				{{ end }}  
		</p> 
		{{ end }}

		<div class="markdown">
		 	{{ .Summary }} 
		</div>

	</div>
	
	<hr/>
	<footer  class="article-footer-meta-between">
		<div>
		<!--標籤--> 
		{{ if isset .Params "tags" }} 
		{{ if gt (len .Params.tags ) 0 }}  
			<span >
				<i class="fa fa-tags"></i> 
				{{ range $tag := .Params.tags }}
						<a href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize | lower }}">{{ . }}</a> &nbsp;&nbsp;
	    		{{ end }}   
    		</span> 
    	{{ end }}
		{{ end }}
		</div> 
		<div >
			<a href="{{ .Permalink }}" title="{{ .Title }}" >閱讀全文</a> 
		</div>
	</footer>

</article>