<!--來自Jane主題-->

{{ if or .Params.reward (and .Site.Params.reward.enable (ne .Params.reward false)) }}
<div class="post-reward">
  <input type="checkbox" name="reward" id="reward" hidden />
  <label class="reward-button" for="reward">{{ i18n "reward" }}</label>
  <div class="qr-code">
    {{ $qrCode := .Site.Params.reward }}
    {{ with $qrCode.wechat }}
      <label class="qr-code-image" for="reward">
        <img class="image" src="{{ . }}">
        <span>{{ i18n "rewardWechat" }}</span>
      </label>
    {{- end }}
    {{ with $qrCode.alipay }}
      <label class="qr-code-image" for="reward">
        <img class="image" src="{{ . }}">
        <span>{{ i18n "rewardAlipay" }}</span>
      </label>
    {{- end }}
  </div>
</div>
{{- end }}