
<!DOCTYPE html>
<html>

<!--匯入通用的頭部數據-->
{{ partial "head.html" . }}
<body> 
 


<!--匯入頭部頁面--> 
{{ partial "header.html"  .}} 

{{ if .Site.Params.isDevMode }}
<center style="background: red;"><strong>section/wiki.html</strong></center>
{{ end }}

<section class="main-content-container">
<article class="article-card">
	<header class="article-header text-center"> 
	    <p class="article-title">{{ .Title }}</p>
	</header>  
	<content class="markdown">{{ .Content }}</content>  

	<!-- Post Pagination --> 
</article> 
</section>
 
 
<!--文章尾部-->
 
{{ partial "footer.html"  .}} 
 
</body>
</html>


 