<!DOCTYPE html>
<html> 
<!--匯入通用的頭部數據-->
{{ partial "head.html" . }}  
<body> 

{{ partial "header.html" . }}  
	
<section class="main-content-container">

<!--過濾非 post 頁面--> 
{{ $pages:=.Pages.ByDate.Reverse }}
{{ if .Site.Params.filterTypePost }}
    {{ $pages = where .Pages.ByDate.Reverse "Type" "post"  }}
{{ end }}

{{ $paginator := .Paginate $pages  }}
{{ range $paginator.Pages }}
   {{ partial "summary.html" . }}  
{{ end }}

</section>

{{ partial "pagination.html" .}} 
{{ partial "footer.html" . }}  

</body> 
</html>