<!DOCTYPE html>
<html>
<!--匯入通用的頭部數據-->
{{ partial "head.html" . }}
<body> 
 

<!--匯入頭部頁面--> 
{{ partial "header.html"  .}} 

{{ if .Site.Params.isDevMode }}
<center style="background: red;"><strong>default/single.html</strong></center>
{{ end }}

<section class="main-content-container">
<article class="article-card">
	<header class="article-header"> 
	   <p class="article-title">{{ .Title }}</p>
   		<div class="article-meta">
			{{with .Date}}
			<div><i class="fa fa-calendar" >{{  .Format $.Site.Params.DateFormat  }}</i> </div>
			{{ end }}  

			<!--檢視數--> 
			<div>
				{{ if .Site.Params.busuanzi }}
					<i class="fa fa-eye"></i><span id="busuanzi_value_page_pv"></span>&nbsp;read 
	            {{ end }}
			</div>  
			<!--分類--> 
			<div>
				&nbsp;&nbsp;<i class="fa fa-th">&nbsp;Categories:
				{{ range .Params.categories }}
					<a href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a> 
				{{ end }}   
				</i>  
			</div> 
		</div>  
	</header>  
	<content class="markdown">
		{{ .Content }}
			  
		<!--文章版權申明引用-->
		{{ if .Params.CopyrightStatement }}
			<div class="article-copyright">
			  	<ul>
			  		{{ if .Params.author }}
			  		<li><strong>本文作者：</strong>{{ .Params.author | safeHTML}}</li>
			  		{{ end }}
			  		<li><strong>版權申明：</strong>{{ .Params.CopyrightStatement |  safeHTML}}</li>
			  	</ul>
			</div>
		{{ else }}
			<div class="article-copyright">
			  	<ul>
			  		<li><strong>本文作者：</strong>{{ .Site.Params.articleAuth.author | safeHTML}}</li>
			  		<li><strong>本文鏈接：</strong>{{ .Permalink }}</li>
			  		<li><strong>版權申明：</strong>{{ .Site.Params.articleAuth.CopyrightStatement | safeHTML }}</li>
			  	</ul>
			</div>
		{{ end }} 
	</content>  
 	<hr/>
 	<!--分享與標籤項-->
	<div class="article-footer-meta-between"> 
		<!--標籤--> 
		<div>
			<i class="fa fa-tags">&nbsp;Tags:
			{{ range .Params.tags }}
				<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
    		{{ end }}
    		</i>   
		</div> 
		<!--分享外掛--> 
		<div id="i-share" class="btn btn-default  share-widget">
		    <i class="fa fa-share-alt"></i>
		</div> 
	</div>
	<hr/>
	<div class="article-footer-meta-between"> 
		<div class="refArticle-prev" >
			{{ with .NextInSection }}  
		    <a href="{{ .Permalink }}">
		    	<i class="fa fa-angle-double-left"></i>&nbsp;{{ .Title }}  
		    </a> 
			{{ end }}
		</div>
		 <div class="refArticle-next" >
		{{ with .PrevInSection }}  
		  	<a href="{{ .Permalink }}">{{ .Title }}&nbsp;
		  		<i class="fa fa-angle-double-right"></i>
		  	</a> 
		{{ end }} 
	    </div>
	</div>  
</article> 
</section>
 

 <!-- Comments --> 
 {{ partial "comments.html" . }}
<!--article TOC--> 

{{ partial "article-sidebar.html" .}}

{{ partial "footer.html"  .}}  
 
</style>
</body>
</html>


 