<!DOCTYPE html>
<html>
<!--匯入通用的頭部數據-->
{{ partial "head.html" . }}
<body> 
 
{{ if .Site.Params.isDevMode }}
<center style="background: red;"><strong>default/toxonomy.html</strong></center>
{{ end }}

{{ partial "header.html"  .}} 
 



<section class="main-content-container ">
  <div class="categories-card">
    <header class="text-center">
      <h4>{{ .Title }}</h4>
    </header>  
     
 

    <!--過濾非 post 頁面--> 
    {{ $pages:=.Data.Pages.ByDate.Reverse }}
    {{ if .Site.Params.filterTypePost }}
        {{ $pages = where .Data.Pages.ByDate.Reverse "Type" "post"  }}
    {{ end }}
    
    {{ $paginator := .Paginate $pages (index .Site.Params "archive-paginate" | default 10) }}

      <ul class="article-list">
      {{ range $paginator.Pages }}  
          <li>
            <time datetime="{{ .Date}}">{{.Date.Format (.Site.Params.DateFormat|default "2006-01-02")  }}</time>
            <a href="{{ .Permalink}}"> {{ .LinkTitle }}</a> 
          </li>  
      {{ end }} 
      </ul>   
  </div>
</section>  

{{ partial "pagination.html" . }}

<!--文章尾部--> 
{{ partial "footer.html"  .}} 
</body>
</html>
 

